@media (max-width: 453px){
    .navbar-brand {
        font-size: 1rem;
    }
    #logo{
        width: 47.8px;
    }
}


@media (max-width: 350px){
    .navbar-brand {
        font-size: .70rem;

    }
    #logo{
        width:30px;
        margin-right: 0rem;
    }
}

