@font-face {
   font-family: shrek;
   src: url(Shrek.ttf);
}
body {
  background: gray;
  color: black;
  font-family: shrek;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {

  padding: 10px;
  display: flex;
}

header li {
  display: inline-block;
  color: #b0c400;
  font-size: 60px;
  font-weight: bold;
  padding: 20px;
}

header .logo a {
  background-image: url(/img/logo.png);
  background-size: 120px; 
  display: inline-block;
  width: 120px;
  height: 110px;
  text-indent: -999999px;
}

header .title {
  margin: 20px 0;
  text-shadow: 2px 2px 4px black;
}
.title2{
  font-size: 60px;
  font-weight: bolder;
  display: flex;
  color: blue;
  justify-content: center;
  margin-bottom: 100px;
}

#alapitas{
  color: #b0c400;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.8);
  max-width: 900px;
  line-height: 50px;
  
}



.cim{
  color: #b0c400;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.8);
  max-width: 900px;
  line-height: 50px;
}

span{
  color: white;
}

#dreamworks, .link,.kandur{
  color: blue;
}
#dreamworks:hover,.kandur:hover{
  color:rgb(226, 90, 6);
}

.link:hover{
  color:red;
}
section  {
  display: flex;
  
}
.filmek{
  color: black;
  
}
.filmek .shrek{
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}


a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.nav {
 background-color: lightblue;
 opacity: 0.8;
 margin-bottom: 100px;
 position: sticky;
 top: 0;
 left: 0;
} 

section div {
  display: inline-block;
  margin: auto;
  padding: 20px;
}

.text {
  text-align: justify;
}

section h1 {
  font-size: 50px;
}
.text h1 {
  text-align: center;
}

section div p {
  font-size: 20px;
  
}

section p {
  font-size: 20px;
}

.nav div {
  width: 100px;
  text-align: center;
}

.nav a:hover {
  border-radius: 20px;
  padding: 20px 30px;
  background-color: #b0c400;
}

.discord a:hover {
  background: #7289da;
}

footer {
  color: white;
  background: black;
  padding: 5px 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer div {
  margin-left: 0px;
  font-size: xx-small;
}

#csizmas2{
  padding-left: 25%;
  padding-bottom: 25%;
}
.szereplok{
  margin: 100px;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  
}
.szereplok li{
  margin: 50px;
  display: flex;
}

.szereplok .leiras{
  border-radius: 50px;
  background-color: rgb(107, 107, 107);
  font-weight: bold;
  font-style: italic;
  opacity: 50%;
  padding: 30px 100px;
  font-size: 30px;
  
  
}


@media screen and (max-width: 584px) {
  header .title {
    font-size: 43px;
    position: relative;
    top: 10px;
  }
}


@media only screen and (min-width: 700px){
  #csizmas2 {
    width: 50%;
  }
} 
